<div class="iconoSoc">
    <a href="https://www.instagram.com/cristianvilla._.15/?hl=es" target="_blank">
        <img class="icono" src=".../../../../../assets/instagram.png" alt="instagram"></a>
       <a href="https://www.instagram.com/cristianvilla._.15/?hl=es" target="_blank">
       <img class="icono" src=".../../../../../assets/facebook.png" alt="facebook"></a>
      <a href="https://www.instagram.com/cristianvilla._.15/?hl=es" target="_blank" >
      <img class="icono" src=".../../../../../assets/github.png" alt="github"></a>
      <a href="https://www.instagram.com/cristianvilla._.15/?hl=es" target="_blank" >
      <img class="icono" src=".../../../../../assets/linkedin.png" alt="linkedin"></a>
      <a href="https://www.instagram.com/cristianvilla._.15/?hl=es"target="_blank" >
      <img class="icono" src=".../../../../../assets/twitter.png" alt="twitter"></a>
      <!-- <a href="#"><img class="icono" src=".../../../../../assets/usuarioBlanco.png" alt="usuario"></a> -->
   <button type="button" class="btn btn-outline-light">Login</button>
    </div>