section{
    text-align: center;
}
.row{
   border:solid;
    border-radius: 5px;
    top:1009px;
    --bs-gutter-x:0;
    background-color: #9db0b4;

}
.texttitle{
    border:double;
}
.row h1{
    Text-align: center;
}
#call{
    height: 80px;
    float: right
}
#negocio{
    height: 80px;
    float: right;
}
