section{
    text-align: center;
}
.menu-exp{
    display: flex;
    justify-content:space-between;
}

.row{
   border:solid;
    border-radius: 5px;
    top:1009px;
    --bs-gutter-x:0;
    background-color: #9db0b4;

}
.texttitle{
    border:double;
    text-align:center;
}

#call{
    height: 80px;
    float: right
}
#negocio{
    height: 80px;
    float: right;
}
