<div class="row"  >
  <h1 class="texttitle">Experiencia Laboral<br /></h1>
  <div class="col-lg-12" class="menu-exp">
   <button type="button"class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
Nueva Experiencia
   </button>
  </div>
  <p><br></p>
  <div class="col-lg-12">
    <ul *ngFor="let Experiencia of expe">
      <li>
        <img src="../../../assets/trabajoopng.png" id="call" />
        
      <h2 class="title">{{Experiencia.nombreE}}  
        <button type="button" class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">
          <i class="bi bi-pen">Editar</i>
        </button>
        <button class="btn btn-danger" (click)="delete(Experiencia.id)"  *ngIf="isLogged">
          <i class="bi bi-trash-fill"></i> BORRAR</button>
      </h2>
        <p>({{Experiencia.fechaE}})</p>
      </li>
      <h3>{{Experiencia.descripcionE}}</h3>  
   </ul>
  


  <h1 class="texttitle">Educacion<br /></h1>
  <div class="col-lg-12" class="menu-exp">
    <div>
    <button type="button"class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
 Agregar Educacion
    </button>
    </div>
   </div>
   <p><br></p>
   <div class="col-lg-12">
     <ul *ngFor="let Educacion of educacion">
       <li>
         <img src="../../../assets/educacionpng.png" id="call" />
         
       <h2 class="title">{{Educacion.nombreE}}  
         <button type="button" class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
           <i class="bi bi-pen">Editar</i>
         </button>
         <button class="btn btn-danger" (click)="delete(Educacion.id)"*ngIf="isLogged">
           <i class="bi bi-trash-fill"></i> BORRAR</button>
       </h2>
         <p>({{Educacion.fechaE}})</p>
       </li>
       <h3>{{Educacion.descripcionE}}</h3>  
    </ul>
