<div class="row">
       <h1>Experiencia Laboral<br></h1>
       <div class="col-lg-11">
           <ul>
                 <li>
                    <img src="../../../assets/headset_icon-icons.com_69367.png" id="call">
                    <h2>Call Center</h2> - <h3>(years)</h3> 
                 </li>
                 <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
                 </p>
           </ul>
           <ul>
            <li>
               <img src="../../../assets/alquiler-3.png" id="negocio">
               <h2>Emprendedor</h2> - <h3>(years)</h3> 
            </li>
            <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
            </p>
      </ul>
      <ul>
        <li>
           <img src="../../../assets/game-illustration-on-a-transparent-background-premium-quality-symbols-line-flat-color-icon-for-concept-and-graphic-design-vector.jpg" id="call">
           <h2>Tecnico en consolas</h2> - <h3>(years)</h3> 
        </li>
        <p>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
        </p>
  </ul>
       </div>
       <h1>Educacion<br></h1>
       <div class="col-lg-11">
           <ul>
                 <li>
                    <img src="../../../assets/headset_icon-icons.com_69367.png" id="call">
                    <h2>Colegio gral M belgrano</h2> - <h3>(years)</h3> 
                 </li>
                 <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
                 </p>
           </ul>
           <ul>
            <li>
               <img src="../../../assets/alquiler-3.png" id="negocio">
               <h2>Universidad Nacional De Salta</h2> - <h3>(years)</h3> 
            </li>
            <p>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
            </p>
      </ul>
      <ul>
        <li>
           <img src="../../../assets/game-illustration-on-a-transparent-background-premium-quality-symbols-line-flat-color-icon-for-concept-and-graphic-design-vector.jpg" id="call">
           <h2>Argentina programa</h2> - <h3>(years)</h3> 
        </li>
        <p>
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
        </p>
  </ul>
  <ul>
   <li>
      <img src="../../../assets/game-illustration-on-a-transparent-background-premium-quality-symbols-line-flat-color-icon-for-concept-and-graphic-design-vector.jpg" id="call">
      <h2>Mil Programadores</h2> - <h3>(years)</h3> 
   </li>
   <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
   </p>
</ul>
<ul>
   <li>
      <img src="../../../assets/game-illustration-on-a-transparent-background-premium-quality-symbols-line-flat-color-icon-for-concept-and-graphic-design-vector.jpg" id="call">
      <h2>Otros cursos</h2> - <h3>(years)</h3> 
   </li>
   <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam consequuntur dicta eius nesciunt porro laboriosam officia consequatur facilis a corporis esse distinctio autem necessitatibus praesentium ab ipsam, quasi ex nobis!
   </p>
</ul>
       </div>
</div>