<div class="row">
  <h1>HARD Y SOFT SKILLS</h1>
  <button type="button"class="btn btn-dark" routerLink="/nuevaski" *ngIf="isLogged">
    Nueva habilidad
       </button>
       <div *ngFor="let Skills of ski">
        <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress 
      [percent]=Skills.porcentaje
      [radius]="100"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [title]= 'Skills.nombreSkill'
      [outerStrokeColor]="'#2134ad'"
      [innerStrokeColor]="'#404880'"
      [animation]="true"
      [animationDuration]="300"
      [showSubtitle]="false"
    ></circle-progress>
    <button type="button" class="btn btn-dark" routerLink="/editski/{{Skills.id}}" *ngIf="isLogged">
      <i class="bi bi-pen">Editar</i>
    </button>
    <button class="btn btn-danger" (click)="delete(Skills.id)" *ngIf="isLogged">
      <i class="bi bi-trash-fill"></i> BORRAR</button>
    </div>
       </div>
</div>
