.row{
  background-color:#9db0b4;
    border-right-style: solid;
    border-bottom-style: solid; 
    border-left-style: solid;
      border-radius: 5px;
    padding:20px;
    --bs-gutter-x:0;
}
.row h1{
    text-align:center;
}
