#imgFondo{
    height:650px;
  width:100% ;
}
.conteinerBanner {
    width: 100%;
   display: flex;

}
.conteinerBanner:before{
    content:"";
    width: 100%;
    height: 650px;
    position: absolute;
    display: flex;
    top:80px;
   background: rgba(0, 0, 0, 0.6);
}

.conteinerBanner h1{
    position: absolute;
    top:278px;
    left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color: #FFFFFF;
}
.conteinerBanner h2{
    position: absolute;
    top:387px;
    left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color: #FFFFFF;
}

/*img:before{   
    background: rgb(187, 76, 76);

}*/