#imgFondo{
    height:650px;
  width:100% ;
}
.conteinerBanner {
    width: 100%;
   display: flex;

}
.conteinerBanner:before{
    content:"";
    width: 100%;
    height: 650px;
    position: absolute;
    display: flex;
    top:80px;
   background: rgba(0, 0, 0, 0.6);
}
.row{
    position: absolute;
    top:300px;
    --bs-gutter-x:0;
    overflow: hidden;
    width: 100%;
}
.row h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color: #FFFFFF;
  
   
}
.row h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    color: #FFFFFF;
}



/*img:before{   
    background: rgb(187, 76, 76);

}*/
@media(max-width:396px){
    .conteinerBanner:before{
        content:"";
        width: 100%;
        height: 650px;
        position: absolute;
        display: flex;
        top:118px;
       background: rgba(0, 0, 0, 0.6);
    }
}

@media(max-width:276px){
    .conteinerBanner:before{
        content:"";
        width: 100%;
        height: 650px;
        position: absolute;
        display: flex;
        top:177px;
       background: rgba(0, 0, 0, 0.6);
    }
    
}
