.row{
    --bs-gutter-x: 0;
    background-color:#272727;
}
.img-fluid{
    height:132px;
    position:absolute;
    top:650px;
    display:flex;
    left:46%;
    width: 163px;
}

.row h1{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    color: #DA9595;

}
.row p{
color: #DA9595;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px; 
line-height: 23px;
text-align: center;
}
