
.acercade{
    display: flex;
    text-align: center;
     height: 306px;
     background: #272727;
}
.img-fluid{
    position:absolute;
    top:650px;
    display:flex;
    left:46%;
}

.acercade h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    color: #DA9595;
    top: 72%;
    left: 46%;
    position: absolute;
}
.acercade p{
color: #DA9595;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px; 
line-height: 23px;
text-align: center;
position: absolute;
left: 46%;
top: 80%;
}
